<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105741867296-j8s81ctvo8rmta3saptd0belrimo18ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105741867296-j8s81ctvo8rmta3saptd0belrimo18ot</string>
	<key>API_KEY</key>
	<string>AIzaSyBRc4ReabcUey29abx4fqjWL9ugA2UCxno</string>
	<key>GCM_SENDER_ID</key>
	<string>105741867296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-b021e</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-b021e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105741867296:ios:d6f06b57be7cf9885a1f45</string>
	<key>DATABASE_URL</key>
	<string>https://whatsappclone-b021e.firebaseio.com</string>
</dict>
</plist>